<div *ngIf="food">
  <h2>{{food.name | uppercase}} Details</h2>
  <img [src] = food.image
              width="400"
              height="256"
              > 
  <div>
    <h3>{{food.description}}</h3>
    <h4>Food made by: {{food.seller}}</h4>
    <h2>Current Price${{food.price}}</h2>
    <h3>Quantity Avaliable: {{food.quantityAvaliable}}</h3>
    <label>Quantity:
     <!-- <input [(ngModel)]="food.name" placeholder="name"/>-->
     <input placeholder="1"/>
     <button>+</button>
     <button>-</button>
    </label>

  </div>
  <button (click)="goBack()">Go back</button>
  <button (click)="add()">Add to Cart!</button>
</div>