<div *ngIf="food">
  <h2>{{food.Name | uppercase}} Details</h2>
  <img [src] = food.image
              width="400"
              height="256"
              >
  <div>
    <label>Seller Name: {{food.Seller}} </label>
  </div>

  <div>
    <label>Price: ${{food.Price}} </label>
  </div>

  <div>
    <label>Quantity: {{food.Quantity}} </label>
  </div>

  <div>
    <label>Description: {{food.Description}} </label>
  </div>

  <div>
    <label>Place To Meet: {{food.PlaceToMeet}} </label>
  </div>

  <button (click)="goBack()">go back</button>
  <button onclick= "location.href ='www.google.com';">I want this!</button>
</div>