<h1>Add New Food</h1>

<div>
<label>Your Name:
<input #foodId />
</label>
</div>

<div>
<label>Food Name:
<input #foodN />
</label>
</div>

<div>
<label>Price:
<input #foodP />
</label>
</div>

<div>
<label>Quantity:
<input #foodQ />
</label>
</div>

<div>
<label>Description:
<input #foodD/>
</label>
</div>

<div>
  <label>Place to Meet:</label>
  <input #PTM/>
</div>

<div>
<img [src]="url" height="200"><br/>
<input type='file' (change)="onSelectFile($event)">
</div>

<button (click)="add(foodId.value,foodN.value,foodP.value,foodQ.value,foodD.value,PTM.value,url);foodId.value='';foodN.value='';foodP.value='';foodQ.value='';foodD.value,PTM.value">
add
</button>