<div align="center">
<h2>Contact Us</h2>
<div align="align" style="margin-top: 5%">
<p>Name
    <input/>
</p>
<p>Email
  <input/>
</p>
<p  style="align-content:flex-start">Comments or Feedback
    <textarea rows="4" cols="50">
      </textarea>
</p>
</div>
<button>Submit</button>
<h4 style="margin-top: 2%">Please feel free to contact us at 614-999-9999 or david.gao@foodit.com</h4>
</div>
<!--
<div>
  <label>Food name:
    <input #foodName />
  </label>
 
  <button (click)="add(foodName.value); foodName.value=''">
    add
  </button>
</div>

<ul class="foodlist">
  <li *ngFor="let food of foodlist">
    <a routerLink="/detail/{{food.id}}">
      <span class="badge">{{food.id}}</span> {{food.name}} {{food.price}}
    </a>
    <button class="delete" title="delete food"
      (click)="delete(food)">x</button>
  </li>
</ul>
-->