
<body background="../../assets/wood2.jpg">
  <div align="center">
  <h3 style="color:#e0b469;font-style:italic;font-size: 300%">All Food Around You!</h3>


  <app-food-search></app-food-search>
  
<div class="grid grid-pad">
  <a *ngFor="let food of foodlist" class="col-1-5"
      routerLink="/detail/{{food.id}}">
    <div class="module food">
          <h4> 
              <img [src] = food.image
                    width="400"
                    height="256"
                    >
            </h4>
            <h3 style="font-family: cursive; color: darkolivegreen">{{food.name}}</h3>
          </div>
           

  </a>
</div>


</div>
</body>